MYSQL_ROOT_PASSWORD=WebSec2024!
MYSQL_USER=websec
MYSQL_PASSWORD=WebSec2024!
MYSQL_DATABASE=websecscanner
MYSQL_HOST=db
MYSQL_PORT=3306
SECRET_KEY=remplacer_par_python3_-c_import_secrets_print_secrets.token_hex_32
VIRUSTOTAL_API_KEY=ta_cle_ici
GOOGLE_WEBRISK_API_KEY=ta_cle_ici
FLASK_ENV=development
ALLOWED_TARGETS=testphp.vulnweb.com,demo.testfire.net,webscantest.com,scanme.nmap.org,juice-shop.herokuapp.com,192.168.0.0/16
